body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: whitesmoke;
  height: 100vh;
}


#aboutUs,#orchestraInfo{

    background-color: gold;
  padding: 10px 10px 20px 10px;


}
#heading,#calendar,#meetDirector{
    background-color: #248a1d;
  padding: 10px 10px 20px 10px;


}

.content {
  flex: 4;
  /* background-color: gold; */
  height: 100vh;
  overflow-x: scroll;


}

#logo {
  width: 95%;
  margin-top: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* height: 20vh; */
}
.orchestraDes,
.directorDes {
  text-align: left;
}

.green {
  color: #054900;
}

.link {
  list-style-type: none;
  /* text-align: center; */
  list-style-position: outside;
  padding-left: 20px;
  /* text-decoration: inherit; */
}
a:link {
  color: #054900;
  text-decoration: none;
}
a:hover {
  color: gold;
}

#heading {
  height: 20%;
  text-align: center;

}
h2 {
  margin-top: 0;
}


.content {
  text-align: center;
}

.content :nth-of-type(even) {
  /* background-color: grey; */
}

.grid {
  display: flex;
  padding-bottom: 20px;
}

.grid fieldset {
  flex: 1;
  border-radius: 5%;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .grid {
    display: block;
  }
  .grid fieldset {
    width: 90%;
    margin: auto;
  }
}
